{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://rest-stag.evergent.com/hooq",
      "description": "The Staging API server",
      "variables": {
        "url": {
          "default": "rest-stag.evergent.com",
          "description": "this value is assigned by the service provider URL, in this example `***.evergent.com`"
        },
        "basePath": {
          "default": "hooq"
        }
      }
    }
  ],
  "info": {
    "description": "<b>Last Updated Date 11th July 2018 </b> <br> <b> Revision History </b> <br> (i) Added new API's getAccountOrders() and removeDeviceForAccount().",
    "version": "",
    "title": "EV Generic API --V10.14",
    "contact": {
      "email": "anusha@evergent.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags": [
    {
      "name": "hooq",
      "description": "Secured Admin-only calls"
    }
  ],
  "paths": {
    "/createUser": {
      "post": {
        "tags": [
          "hooq"
        ],
        "operationId": "CreateUserRequestMessage",
        "description": "createUser() REST API is used to create an account in Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "CreateUserResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "spAccountID": {
                          "type": "string"
                        },
                        "cpCustomerID": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "20001": {
            "description": "Generic Failure"
          },
          "20003": {
            "description": "Missing Required Parameters"
          },
          "20224": {
            "description": "Account with the given CustomerID already exists"
          },
          "20259": {
            "description": "Password length should not exceed 100"
          },
          "20292": {
            "description": "Account with the given Details already exists"
          },
          "20293": {
            "description": "Offer is already active on your Number, valid till given Endate"
          },
          "20295": {
            "description": "Invalid email"
          },
          "20297": {
            "description": "User ID should not exceed 100 characters"
          },
          "20359": {
            "description": "Password length should be minimum 4"
          },
          "20360": {
            "description": "UserID length should be minimum 4"
          },
          "20361": {
            "description": "Invalid Service Id"
          },
          "20371": {
            "description": "Account already exists with"
          },
          "20383": {
            "description": "User Name - Spaces are not allowed"
          },
          "20999": {
            "description": "Request data malformed"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "CreateUserRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/createUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAuthCode": {
      "post": {
        "tags": [
          "hooq"
        ],
        "operationId": "GetAuthCodeRequestMessage",
        "description": "getAuthCode() REST API is used to authenticate the Customer along with concurrent session limit and No. of Allowed devices if details are provided.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "GetAuthCodeResponseMessage": {
                      "type": "object",
                      "properties": {
                        "authCode": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication Failed"
          },
          "eV2511": {
            "description": "Missing Required Parameter(s)"
          },
          "eV2327": {
            "description": "No Account Found with Given Details"
          },
          "eV2134": {
            "description": "Wrong Username or Password"
          },
          "eV2190": {
            "description": "Login limit reached"
          },
          "eV2436": {
            "description": "Invalid Social Login Details"
          },
          "eV2193": {
            "description": "Exceeded annual devices allowed to be registered"
          },
          "eV2143": {
            "description": "Exceeded maximum device allowed to be registered"
          },
          "eV2138": {
            "description": "Generic Failure"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "GetAuthCodeRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/getAuthCode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getOAuthAccessToken": {
      "post": {
        "tags": [
          "hooq"
        ],
        "operationId": "GetOAuthAccessTokenRequestMessage",
        "description": "getOAuthAccessToken() REST API is used to SignIn the user with authCode (Combination of MobileNumber/Email and Device Details of the Customer).",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "GetOAuthAccessTokenResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "tokenType": {
                          "type": "string"
                        },
                        "accessToken": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "refreshToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "20003": {
            "description": "Missing Required Parameter"
          },
          "111111111": {
            "description": "Authentication Failed"
          },
          "eV2138": {
            "description": "Generic Failure"
          },
          "eV2766": {
            "description": "Invalid AuthCode."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "GetOAuthAccessTokenRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/getOAuthAccessToken"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getOAuthAccessTokenv2": {
      "post": {
        "tags": [
          "hooq"
        ],
        "operationId": "GetOAuthAccessTokenv2RequestMessage",
        "description": "getOAuthAccessTokenv2() REST API is used to signIn (Email/PhoneNumber/CpID) the customer on his device registered.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "GetOAuthAccessTokenv2ResponseMessage": {
                      "type": "object",
                      "properties": {
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "accessToken": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "refreshToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "20003": {
            "description": "Missing Required Parameter"
          },
          "111111111": {
            "description": "Authentication Failed"
          },
          "eV2190": {
            "description": "Login limit reached"
          },
          "eV2138": {
            "description": "Generic Failure"
          },
          "eV2193": {
            "description": "Exceeded annual devices allowed to be registered"
          },
          "eV2143": {
            "description": "Exceeded maximum device allowed to be registered"
          },
          "eV2783": {
            "description": "Invalid phoneNumber or email."
          },
          "eV2327": {
            "description": "No account found with the given details"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "GetOAuthAccessTokenv2RequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/getOAuthAccessTokenv2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/refreshToken": {
      "post": {
        "tags": [
          "hooq"
        ],
        "operationId": "RefreshTokenRequestMessage",
        "description": "refreshToken() REST API is used to get the new accessToken of the customer when accessToken validity got expired.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "RefreshTokenResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "tokenType": {
                          "type": "string"
                        },
                        "accessToken": {
                          "type": "string"
                        },
                        "refreshToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "20003": {
            "description": "Missing Required Parameter"
          },
          "111111111": {
            "description": "Authentication Failed"
          },
          "eV2138": {
            "description": "Generic Failure"
          },
          "eV2767": {
            "description": "Invalid RefreshToken."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RefreshTokenRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/refreshToken"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/isCustomerEligibleForFreeTrial": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "FreeTrialRequestMessage",
        "description": "isCustomerEligibleForFreeTrial() REST API is verify whether the customer is eligible for free trial for the account or not.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "FreeTrialResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authorization failed"
          },
          "eV2123": {
            "description": "Either SP Account ID or CP Customer ID or Session Token is required"
          },
          "eV2124": {
            "description": "Invalid SP Account ID XXXXXXXX  for  HOOQIND"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXXXXXXX  for  HOOQIND"
          },
          "eV1342": {
            "description": "Invalid customer ID XXXXXXXXX  for  XXXXXX"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given SP Account ID XXXXXXXX and Customer ID XXXXXXX"
          },
          "eV2155": {
            "description": "No free trial Available"
          },
          "eV2154": {
            "description": "Free Trial Available"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "FreeTrialRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/isCustomerEligibleForFreeTrial"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addSubscriptions": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "AddSubscriptionsRequestMessage",
        "description": "addSubscriptions() REST API places multiple subscription at once for the customer.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "AddSubscriptionsResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "orderID": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "eV1744": {
            "description": "Account does not exists with given details"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXXXXXXX  for  HOOQIND"
          },
          "eV1342": {
            "description": "Invalid customer ID XXXXXXXXX  for  XXXXXX"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given SP Account ID XXXXXXXX and Customer ID XXXXXXX"
          },
          "eV1377": {
            "description": "Invalid amount"
          },
          "eV2365": {
            "description": "The Receipt is already used by other customer"
          },
          "eV2378": {
            "description": "The Receipt is already used"
          },
          "eV2402": {
            "description": "Subscription is already expired with the given product id"
          },
          "eV2242": {
            "description": "The App Store could not read the JSON object you provided"
          },
          "eV2243": {
            "description": "The data in the receipt-data property was malformed or missing"
          },
          "eV2244": {
            "description": "The receipt could not be authenticated"
          },
          "eV2245": {
            "description": "The shared secret you provided does not match the shared secret on file for your account"
          },
          "eV2246": {
            "description": "The receipt server is not currently available"
          },
          "eV2247": {
            "description": "This receipt is valid but the subscription has expired. When this status code is returned to your server, the receipt data is also decoded and returned as part of the response"
          },
          "eV2248": {
            "description": "This receipt is from the test environment, but it was sent to the production environment for verification. Send it to the test environment instead"
          },
          "eV2249": {
            "description": "This receipt is from the production environment, but it was sent to the test environment for verification. Send it to the production environment instead"
          },
          "eV2292": {
            "description": "Google Wallet receipt expired"
          },
          "eV2293": {
            "description": "Google wallet receipt validation failed"
          },
          "eV2591": {
            "description": "The transaction represented by this Purchase Token is no longer valid"
          },
          "eV2592": {
            "description": "Invalid sharedSecret"
          },
          "eV2593": {
            "description": "Invalid User ID"
          },
          "eV2594": {
            "description": "Invalid Purchase Token"
          },
          "eV2595": {
            "description": "The Purchase Token was created with credentials that have expired.Use renew to generate a valid purchase token"
          },
          "eV2596": {
            "description": "There was an Internal Server Error"
          },
          "eV2374": {
            "description": "No Service exists with the given AppServiceID"
          },
          "eV1663": {
            "description": "Either ServiceId or ServiceName is required"
          },
          "eV1135": {
            "description": "Invalid Quantity, Quantity of the Service should be greater than or equal to one"
          },
          "eV1136": {
            "description": "Invalid Quantity, should be in number"
          },
          "eV1668": {
            "description": "Service Type should be PRODUCT/PACKAGE"
          },
          "eV1106": {
            "description": "Insufficient parameters. Please provide Services Info"
          },
          "eV1107": {
            "description": "Insufficient parameters. Please provide payment method Info"
          },
          "eV1108": {
            "description": "Label cannot be empty in Payment Method Info"
          },
          "eV1110": {
            "description": "Invalid Parameters in Payment Method Info"
          },
          "eV1680": {
            "description": "Invalid State in CardBilling"
          },
          "eV1681": {
            "description": "Invalid Country in CardBilling"
          },
          "eV1246": {
            "description": "Invalid ZipCode"
          },
          "eV1682": {
            "description": "Insufficient CardBilling Parameters"
          },
          "eV1854": {
            "description": "Exception occured while inserting payment method"
          },
          "eV1684": {
            "description": "Payment method is mandatory"
          },
          "eV2755": {
            "description": "This coupon has already been expired"
          },
          "eV1861": {
            "description": "This coupon has already been redeemed"
          },
          "eV1679": {
            "description": "No Promotional Item exists with the given"
          },
          "eV1665": {
            "description": "No Service found with the given Service Id XXXXXX  and Service name"
          },
          "eV1138": {
            "description": "No Service exists with the given name  XXXXXXXXXX"
          },
          "eV1676": {
            "description": "PromotionId  XXXXXXXX"
          },
          "eV1677": {
            "description": "PromotionName  XXXXXXXX"
          },
          "eV1678": {
            "description": "PromotionId/PromotionName    XXXXXXXXX/XXXXXXXXXX"
          },
          "eV1674": {
            "description": "doesn't exist with the given ServiceId/ServiceName  XXXXXXX/XXXXXXXX"
          },
          "eV1143": {
            "description": "You can not order Single subscription product multiple times"
          },
          "eV2491": {
            "description": "Customer can have only one Basic Service Product at a time"
          },
          "eV1144": {
            "description": "Customer has already subscribed to \\ XXXXXXXX \\. \" (X represents Promotion product name)"
          },
          "eV1147": {
            "description": "No applicable rate for the current date with quantity 1 for the product  XXXXXXXXXX"
          },
          "eV1160": {
            "description": "In order to order the product \\ first you should have to order its prerequisite product(s) / package(s) -----"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AddSubscriptionsRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/addSubscriptions"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/removeSubscriptions": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "RemoveSubscriptionsRequestMessage",
        "description": "removeSubscriptions() REST API removes multiple subscriptions at once from the customer Account.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "RemoveSubscriptionsResponseMessage": {
                      "type": "object",
                      "$ref": "#/components/schemas/RemoveSubscriptionsResponseMessage"
                    }
                  }
                }
              }
            }
          },
          "20001": {
            "description": "Generic Failure"
          },
          "20003": {
            "description": "Missing Required Parameter"
          },
          "20005": {
            "description": "Invalid session token"
          },
          "20237": {
            "description": "Invalid customer ID XXXXXXXXX  for  XXXXXX"
          },
          "20268": {
            "description": "Invalid SP Account ID XXXXXXXX  for  HOOQIND"
          },
          "20327": {
            "description": "Invalid End Date"
          },
          "20329": {
            "description": "CpCustomerID or spAccountID or sessionToken is required"
          },
          "20369": {
            "description": "Can't Remove This Service Prior To Its BillStartDate"
          },
          "20372": {
            "description": "end date should be greater than or equal to start date"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RemoveSubscriptionsRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/removeSubscriptions"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/authenticateCustomer": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "AuthenticateCustomerRequestMessage",
        "description": "authenticateCustomer() REST API is used to authenticate the Customer  along with concurrent session limit and No. of Allowed devices if details are provided.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "AuthenticateCustomerResponseMessage": {
                      "type": "object",
                      "properties": {
                        "tokenExpiryTime": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        },
                        "sessionToken": {
                          "type": "string"
                        },
                        "channelPartner": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "contactID": {
                          "type": "string"
                        },
                        "channelPartnerID": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "accountStatus": {
                          "type": "string"
                        },
                        "cpCustomerID": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2226": {
            "description": "Either Username and Password or SocialloginId and socialloginType or SocialloginToken and socialloginType is required"
          },
          "eV2288": {
            "description": "User does not exist"
          },
          "eV2332": {
            "description": "We have recently upgraded our system. Request you to register again if you are accessing outside India"
          },
          "eV2134": {
            "description": "Wrong Username or Password"
          },
          "eV2408": {
            "description": "Your login has blocked. Please try after XXXXX Minutes"
          },
          "eV2241": {
            "description": "Invalid Social login id and its type"
          },
          "eV2360": {
            "description": "Invalid Social Login Token"
          },
          "eV2363": {
            "description": "Invalid Social login Token and its type"
          },
          "eV2327": {
            "description": "No account found with the given details"
          },
          "eV2371": {
            "description": "Please verify your account and login again"
          },
          "eV2434": {
            "description": "Your Account is in Inactive state"
          },
          "eV2190": {
            "description": "Login limit reached"
          },
          "eV2193": {
            "description": "Exceeded annual devices allowed to be registered"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AuthenticateCustomerRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/authenticateCustomer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addContact": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "AddContactRequestMessage",
        "description": "addContact() REST API is used to add the contact of an account in  Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "AddContactResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2123": {
            "description": "Either SP Account ID or CP Customer ID or Session Token is required"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXXXXXXX  for  HOOQIND"
          },
          "eV1342": {
            "description": "Invalid customer ID XXXXXXXXX  for  XXXXXX"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given SP Account ID XXXXXXXX and  Customer ID XXXXXXX"
          },
          "eV1044": {
            "description": "Invalid salutation"
          },
          "eV1047": {
            "description": "First Name should not exceed 100 characters"
          },
          "eV1048": {
            "description": "Last Name should not exceed 100 characters"
          },
          "eV1049": {
            "description": "Middle Name length should not exceed 1"
          },
          "eV1050": {
            "description": "Date Of Birth is in invalid format. Please enter in format"
          },
          "eV1833": {
            "description": "Invalid date of birth"
          },
          "eV1051": {
            "description": "Invalid gender"
          },
          "eV1052": {
            "description": "The Work Phone Extension Number must be with Work Phone Number"
          },
          "eV1053": {
            "description": "The Fax Extension Number must be with Fax Number"
          },
          "eV1054": {
            "description": "The Home Phone Extension Number must be with Home Phone Number"
          },
          "eV1055": {
            "description": "The Pager Extension Number must be with Pager Number"
          },
          "eV1056": {
            "description": "The Cell Phone Extension Number must be with Cell Phone Number"
          },
          "eV1057": {
            "description": "Email should not exceed 256 characters"
          },
          "eV1058": {
            "description": "Please enter a valid email"
          },
          "eV1059": {
            "description": "Title length should not exceed 45"
          },
          "eV1060": {
            "description": "Department length should not exceed 30"
          },
          "eV1061": {
            "description": "Invalid language"
          },
          "eV1064": {
            "description": "User Name length should not exceed 256"
          },
          "eV1065": {
            "description": "User Name length should be minimum 4"
          },
          "eV1062": {
            "description": "User Name already exists"
          },
          "eV2020": {
            "description": "SocialLoginId should not exceed more than 100 characters"
          },
          "eV1895": {
            "description": "New Pin length between 4 and 7 digits"
          },
          "eV2018": {
            "description": "Either SocialLoginType or Password should be mandatory"
          },
          "eV2019": {
            "description": "SocialLoginType should not exceed more than 50 characters"
          },
          "eV1066": {
            "description": "User Name - Spaces are not allowed"
          },
          "eV1068": {
            "description": "Password length should not exceed 100"
          },
          "eV1069": {
            "description": "Password length should be minimum 4"
          },
          "eV1070": {
            "description": "Password - Spaces are not allowed"
          },
          "eV2034": {
            "description": "UserName is mandatory"
          },
          "eV1071": {
            "description": "Comments length should not exceed 256"
          },
          "eV1832": {
            "description": "Invalid age"
          },
          "eV1602": {
            "description": "Invalid Time Zone"
          },
          "eV2568": {
            "description": "Invalid SpendLimit"
          },
          "eV1834": {
            "description": "Account should having only one primary contact"
          },
          "eV1072": {
            "description": "Invalid contact type"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AddContactRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/addContact"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getContact": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "GetContactRequestMessage",
        "description": "getContact() REST API is used to get the contact details of an account in Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "GetContactResponseMessage": {
                      "type": "object",
                      "$ref": "#/components/schemas/GetContactResponseMessage"
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2493": {
            "description": "Either SP Account ID or CP Customer ID or Session Token or Contact ID is required"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXXXXXXX  for YYYYYY Where X==SP Account ID and Y ==BU Name"
          },
          "eV1342": {
            "description": "Invalid customer ID XXXXXXXXX  for  YYYYYY Where X==customer ID  and  Y ==BU Name"
          },
          "eV2223": {
            "description": "Invalid Contact ID XXXX  for YYYYY Where X==Contact ID  and Y ==BU Name"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given Contact ID XXXX  and  Customer ID Where X==SP Account ID"
          },
          "eV1907": {
            "description": "Invalid ContactId"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "GetContactRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/getContact"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateContact": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "UpdateContactRequestMessage",
        "description": "updateContact() REST API is used to update the contact of an account in Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "UpdateContactResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2123": {
            "description": "Either SP Account ID or CP Customer ID or Session Token is required"
          },
          "eV1473": {
            "description": "Contact ID should be Number"
          },
          "eV1474": {
            "description": "Contact ID should be Positive and Non-Zero Value"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV1044": {
            "description": "Invalid salutation"
          },
          "eV1048": {
            "description": "Last Name should not exceed 100 characters"
          },
          "eV1049": {
            "description": "Middle Name length should not exceed 1"
          },
          "eV1051": {
            "description": "Invalid gender"
          },
          "eV1052": {
            "description": "The Work Phone Extension Number must be with Work Phone Number"
          },
          "eV1053": {
            "description": "The Fax Extension Number must be with Fax Number"
          },
          "eV1054": {
            "description": "The Home Phone Extension Number must be with Home Phone Number"
          },
          "eV1055": {
            "description": "The Pager Extension Number must be with Pager Number"
          },
          "eV1056": {
            "description": "The Cell Phone Extension Number must be with Cell Phone Number"
          },
          "eV2538": {
            "description": "Mobile number length should not exceed 15"
          },
          "eV2537": {
            "description": "Minimum length for mobile number should be 10"
          },
          "eV1057": {
            "description": "Email should not exceed 256 characters"
          },
          "eV1058": {
            "description": "Please enter a valid email"
          },
          "eV1059": {
            "description": "Title length should not exceed 45"
          },
          "eV1060": {
            "description": "Department length should not exceed 30"
          },
          "eV1061": {
            "description": "Invalid language"
          },
          "eV1064": {
            "description": "User Name length should not exceed 256"
          },
          "eV1065": {
            "description": "User Name length should be minimum 4"
          },
          "eV1066": {
            "description": "User Name - Spaces are not allowed"
          },
          "eV1067": {
            "description": "User Name should be provided with Password"
          },
          "eV1068": {
            "description": "Password length should not exceed 100"
          },
          "eV1069": {
            "description": "Password length should be minimum 4"
          },
          "eV2020": {
            "description": "SocialLoginId should not exceed more than 100 characters"
          },
          "eV1895": {
            "description": "New Pin length between 4 and 7 digits"
          },
          "eV2019": {
            "description": "SocialLoginType should not exceed more than 50 characters"
          },
          "eV1070": {
            "description": "Password - Spaces are not allowed"
          },
          "eV1071": {
            "description": "Comments length should not exceed 256"
          },
          "eV1832": {
            "description": "Invalid age"
          },
          "eV1072": {
            "description": "Invalid contact type"
          },
          "eV1602": {
            "description": "Invalid Time Zone"
          },
          "eV2473": {
            "description": "Parental Control PIN shouldn't exceeded 4 digits"
          },
          "eV2457": {
            "description": "New parental control pin should be numeric"
          },
          "eV1073": {
            "description": "length should be 10 digits"
          },
          "eV1075": {
            "description": "Invalid  XXXX Where X == PhoneType"
          },
          "eV1076": {
            "description": "Extension length should be less than 5 digits"
          },
          "eV1078": {
            "description": "Communication failure occurred during acountChangeInformation API call"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXXX for YYYYYY Where X==SP Account ID  and Y==BU Name"
          },
          "eV1342": {
            "description": "Invalid customer ID XXXXXXXXX for YYYYYY Where X ==customer ID  and  Y ==BU Name"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given SP Account ID XXXXXXXX and Customer ID YYYYYYYYY Where Y==customer ID  and X ==SP Account ID"
          },
          "eV1469": {
            "description": "No contact found with Id XXXX   for the Account ID/CP Customer ID YYYY /ZZZZ Where X==Contact ID, Y ==Account ID and  Z = CP CustomerID"
          },
          "eV1062": {
            "description": "User Name already exists"
          },
          "eV1724": {
            "description": "Your Request has already been submitted"
          },
          "eV1023": {
            "description": "Error While Processing the request"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "UpdateContactRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/updateContact"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/changePassword": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "ChangePasswordRequestMessage",
        "description": "changePassword() REST API is used to change the password of an account in Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ChangePasswordResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2230": {
            "description": "Either ContactUserName or Email or Account ID or CP Customer ID or Session Token is required"
          },
          "eV2233": {
            "description": "Contact Password is required"
          },
          "eV1225": {
            "description": "Invalid New Password"
          },
          "eV1226": {
            "description": "Invalid Confirm Password"
          },
          "eV1227": {
            "description": "New password and Confirm password should be the same"
          },
          "eV1229": {
            "description": "Username and Password should not be same"
          },
          "eV2043": {
            "description": "Not a Valid token"
          },
          "eV2562": {
            "description": "Failed to update password in ER"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV2480": {
            "description": "UserToken given is not associated with the given account"
          },
          "eV2380": {
            "description": "Invalid current password"
          },
          "eV2379": {
            "description": "Password cannot be reset with existing password"
          },
          "eV1228": {
            "description": "Password must be at least 4 characters"
          },
          "eV2161": {
            "description": "Invalid Contact details"
          },
          "eV2162": {
            "description": "Invalid ContactUserName / ContactPassword"
          },
          "eV2232": {
            "description": "Invalid Email or CP Customer ID or Account ID or Contact Password or Session Token"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ChangePasswordRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/changePassword"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateAcctStatus": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "UpdateAcctStatusRequestMessage",
        "description": "updateAcctStatus() REST API is used to update the status of an account in Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "UpdateAcctStatusResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV1744": {
            "description": "Account does not exists with given details"
          },
          "eV2123": {
            "description": "Either SP Account ID or CP Customer ID or Session Token is required"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXXX  for  YYYYYY Where X==SP Account ID  and Y ==BU Name"
          },
          "eV1342": {
            "description": "Invalid customer ID XXXXXXXXX  for  YYYYYY Where X==customer ID  and  Y ==BU Name"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given SP Account ID XXXX  and Customer ID YYYY where Y==customer ID  and X ==SP Account ID"
          },
          "eV1005": {
            "description": "Status should not be empty"
          },
          "eV1477": {
            "description": "Invalid Reason Code(s)"
          },
          "eV1478": {
            "description": "Invalid status"
          },
          "eV1479": {
            "description": "Inorder to cancel an account first you have to define workflow of type \\\"CancelAccount\\\""
          },
          "eV1480": {
            "description": "Service End Date is in invalid format. It should be in format"
          },
          "eV1481": {
            "description": "Service End Date should not be lesser than current date"
          },
          "eV1482": {
            "description": "Reactivation Date is in invalid format. It should be in format"
          },
          "eV1483": {
            "description": "Reactivation Date should not be lesser than current date"
          },
          "eV1484": {
            "description": "Inorder to suspend an account first you have to define workflow of type \\\"Suspend Account\\"
          },
          "eV1485": {
            "description": "Suspend Start Date is in invalid format. It should be in format"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "UpdateAcctStatusRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/updateAcctStatus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/removeService": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "RemoveServiceRequestMessage",
        "description": "removeService() REST API removes a subscription to the customer.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "RemoveServiceResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV1744": {
            "description": "Account does not exists with given details"
          },
          "eV2123": {
            "description": "Either SP Account ID or CP Customer ID or Session Token is required"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXXX for  YYYYYY \" Where X==SP Account ID  and  Y ==BU Name"
          },
          "eV1342": {
            "description": "Invalid customer ID XXXXXXXXX  for  YYYYYY\" Where X==customer ID  and Y ==BU Name"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given SP Account ID XXXX and Customer ID YYYY \"Where Y==customer ID  and X ==SP Account ID"
          },
          "eV1106": {
            "description": "Insufficient parameters. Please provide Services Info"
          },
          "eV1445": {
            "description": "Quantity should be greater than zero."
          },
          "eV2661": {
            "description": "No active subscription with the given details"
          },
          "eV1419": {
            "description": "end date should be greater than or equal to start date"
          },
          "eV1437": {
            "description": "Given product should contain serial numbers."
          },
          "eV1438": {
            "description": "Can't Remove This Service Prior To Its BillStartDate."
          },
          "eV1439": {
            "description": "Quantity should be less than product quantity"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RemoveServiceRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/removeService"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addTVODOrder": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "AddTVODOrderRequestMessage",
        "description": "addTVODOrder() REST API places the TVOD order to the customer.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "AddTVODOrderResponseMessage": {
                      "type": "object",
                      "properties": {
                        "txID": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        },
                        "authorized": {
                          "type": "boolean"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "orderID": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "20001": {
            "description": "Generic Failure"
          },
          "20003": {
            "description": "Missing Required Parameter"
          },
          "20005": {
            "description": "Invalid Session Token"
          },
          "20237": {
            "description": "Invalid customer ID XXXXXXXXX  for  YYYYYY\" Where X==customer ID  and Y ==BU Name"
          },
          "20245": {
            "description": "Account is already in inactive state"
          },
          "20257": {
            "description": "Email already exists"
          },
          "20268": {
            "description": "Invalid SP Account ID XXXX for YYYY  Where X==SP Account ID  and Y ==BU Name"
          },
          "20273": {
            "description": "This coupon has already been redeemed"
          },
          "20274": {
            "description": "The Receipt is already used by other customer"
          },
          "20275": {
            "description": "The Receipt is already used"
          },
          "20276": {
            "description": "The App Store could not read the JSON object you provided"
          },
          "20277": {
            "description": "The data in the receipt-data property was malformed or missing"
          },
          "20278": {
            "description": "The receipt could not be authenticated"
          },
          "20279": {
            "description": "The shared secret you provided does not match the shared secret on  file for your account"
          },
          "20280": {
            "description": "The receipt server is not currently available"
          },
          "20281": {
            "description": "This receipt is valid but the subscription has expired. When this status code is returned to your server, the receipt data is also decoded and returned as part of the response"
          },
          "20282": {
            "description": "This receipt is from the test environment, but it was sent to the production environment for verification. Send it to the test  environment instead"
          },
          "20283": {
            "description": "This receipt is from the production environment, but it was sent to the test environment for verification. Send it to the production environment instead"
          },
          "20286": {
            "description": "Subscription is already expired with the given product id"
          },
          "20287": {
            "description": "Invalid amount"
          },
          "20331": {
            "description": "No VOD Product exists for the given DMA"
          },
          "20335": {
            "description": "Invalid rental period"
          },
          "20336": {
            "description": "Coupon code is required"
          },
          "20338": {
            "description": "Invalid coupon"
          },
          "20348": {
            "description": "Invalid viewing period"
          },
          "20357": {
            "description": "Your order is in progress. Please try again later"
          },
          "20362": {
            "description": "You can avail this coupon from"
          },
          "20363": {
            "description": "Coupon code expired"
          },
          "20377": {
            "description": "This coupon has already been redeemed"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "AddTVODOrderRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/addTVODOrder"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateAccountStatus": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "UpdateAccountStatusRequestMessage",
        "description": "updateAccountStatus() REST API is used to update the status of an account in Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "UpdateAccountStatusResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV1744": {
            "description": "Account does not exists with given details"
          },
          "eV2123": {
            "description": "Either SP Account ID or CP Customer ID or Session Token is required"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXX  for  BU [ where XXX = SP Account ID]"
          },
          "eV1342": {
            "description": "Invalid customer ID XXXXXXXXX for XXXXXX [where YYY =  customer ID]"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given SP Account ID XXX and Customer ID YYY [ where XXX = SP Account ID]  [where YYY =  customer ID]"
          },
          "eV1005": {
            "description": "Status should not be empty"
          },
          "eV1477": {
            "description": "Invalid Reason Code(s)"
          },
          "eV1478": {
            "description": "Invalid status"
          },
          "eV1479": {
            "description": "Inorder to cancel an account first you have to define workflow of type \\\"CancelAccount\\"
          },
          "eV1480": {
            "description": "Service End Date is in invalid format. It should be in format"
          },
          "eV1481": {
            "description": "Service End Date should not be lesser than current date"
          },
          "eV1482": {
            "description": "Reactivation Date is in invalid format. It should be in format"
          },
          "eV1483": {
            "description": "Reactivation Date should not be lesser than current date"
          },
          "eV1484": {
            "description": "Inorder to suspend an account first you have to define workflow of type \\\"Suspend Account\\"
          },
          "eV1485": {
            "description": "Suspend Start Date is in invalid format. It should be in format"
          },
          "eV1486": {
            "description": "Suspend Start Date should not be lesser than current date"
          },
          "eV1487": {
            "description": "Suspend End Date is in invalid format. It should be in format"
          },
          "eV1488": {
            "description": "Suspend End Date should not be lesser than suspend start date"
          },
          "eV1489": {
            "description": "Suspend End Date should not be lesser than current date"
          },
          "eV1490": {
            "description": "You can't reactivate the account.Cancel to reactivation period expired"
          },
          "eV1491": {
            "description": "Inorder to reactivate an account first you have to define workflow of type \\\"Reactivate Account\\\""
          },
          "eV1492": {
            "description": "You do not have permission to cancel/Suspend the account with  outstanding balance"
          },
          "eV1187": {
            "description": "No Credit Card Payment Gateway defined for this business unit"
          },
          "eV1494": {
            "description": "Payment Declined by Payment Gateway due to following reason"
          },
          "eV1189": {
            "description": "No Response from Payment Gateway."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "UpdateAccountStatusRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/updateAccountStatus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getActiveSubscriptions": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "GetActiveSubscriptionsRequestMessage",
        "description": "getActiveSubscriptions() REST API is used to get the active  subscriptions of an account in Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "GetActiveSubscriptionsResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "AccountServiceMessage": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountServiceMessage"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2235": {
            "description": "Either SP Account ID or CP Customer ID or Contact ID or Session Token is required"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXXX   for  BU"
          },
          "eV1342": {
            "description": "Invalid customer ID YYYY for  BU"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given  SP Account ID  XXXX  and Customer ID    YYYYY  and\"  Email AAA"
          },
          "eV2223": {
            "description": "Invalid Email. AAA for Bu"
          },
          "eV2138": {
            "description": "Generic Failure"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "GetActiveSubscriptionsRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/getActiveSubscriptions"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validateSessionToken": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "ValidateSessionTokenRequestMessage",
        "description": "validateSessionToken() REST API is used to validate the session token in Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ValidateSessionResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2139": {
            "description": "Missing Session Token"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV2138": {
            "description": "Generic Failure"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ValidateSessionTokenRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/validateSessionToken"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getSubscriptionHistory": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "GetSubscriptionHistoryRequestMessage",
        "description": "getSubscriptionHistory() REST API is used to get the history of the subscriptions which are ended Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "GetSubscriptionHistoryResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "AccountServiceMessage": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountServiceMessages"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "20001": {
            "description": "Generic Failure"
          },
          "20003": {
            "description": "Missing Required Parameter"
          },
          "20005": {
            "description": "Invalid Session Token"
          },
          "20237": {
            "description": "Invalid customer ID XXXXXXXXX  for  YYYYYY\" Where X==customer ID and Y ==BU Name"
          },
          "20238": {
            "description": "Customer doesn't have any expired subscriptions"
          },
          "20268": {
            "description": "Invalid SP Account ID XXXXXXXX  for  YYYYYY\" Where X==SP Account ID and Y ==BU Name"
          },
          "20329": {
            "description": "CpCustomerID or spAccountID or sessionToken is required"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "GetSubscriptionHistoryRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/getSubscriptionHistory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logOutUser": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "LogOutUserRequestMessage",
        "description": "logOutUser() REST API is used to update the status of an account in Evergent system.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "LogOutUserResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication failed"
          },
          "eV2139": {
            "description": "Missing Session Token"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV2138": {
            "description": "Generic Failure"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "LogOutUserRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/logOutUser"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/forgotContactPassword": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "ForgotContactPasswordRequestMessage",
        "description": "forgotContactPassword() REST API is reset the contact password of the customer.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ForgotContactPasswordResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "eV2145": {
            "description": "Missing Parameter(s)"
          },
          "eV1744": {
            "description": "Account does not exists with given details"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ForgotContactPasswordRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/forgotContactPassword"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setString": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "SetStringRequestMessage",
        "description": "setString() REST API is used to set attribute to the account.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "SetStringResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "eV1351": {
            "description": "Object Id or Session Token or CP Customer ID can not be null"
          },
          "eV1457": {
            "description": "Value can not be null"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV1744": {
            "description": "Account does not exists with given details XXXXXXX"
          },
          "eV1458": {
            "description": "Attribute Type with XXXXXXXXX and YYYYYYYYY is not found. Where X==Attribute Name and Y ==ObjectTypeName"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "SetStringRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/setString"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getString": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "GetStringRequestMessage",
        "description": "getString() REST API is used to get the string attribute related to the account.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "GetStringResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "objectId": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "attributeType": {
                          "type": "object",
                          "properties": {
                            "attributeName": {
                              "type": "string"
                            },
                            "attributeLabel": {
                              "type": "string"
                            },
                            "attributeTypeId": {
                              "type": "integer"
                            },
                            "objectType": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication Failed"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV2394": {
            "description": "Object Id or Session Token can not be null"
          },
          "eV2350": {
            "description": "No attributes found with that given information"
          },
          "eV2352": {
            "description": "ObjectTypeName cannot be null"
          },
          "eV1349": {
            "description": "Attribute name can not be null"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "GetStringRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/getString"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getProducts": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "GetProductsRequestMessage",
        "description": "getProducts() REST API is used to get the products list available to that DMA.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "GetProductsResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "productsResponseMessage": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/productsResponseMessage"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication Failed"
          },
          "eV1267": {
            "description": "DmaId is mandatory"
          },
          "eV1397": {
            "description": "No products defined for the given DMA:XXXX | YYYY  for   ZZZZZZ Where X==DMAID ,Y= DMA Name  and   Z ==BU Name No products defined for the given DMA:XXXX  for   YYYYY Where X==DMAID ,Y= BU Name No products defined for the given DMA:XXXX   for   YYYYY\" Where X==DMA Name and Y= BU Name"
          },
          "eV1391": {
            "description": "Invalid pricing date"
          },
          "eV2086": {
            "description": "Invalid returnPromotions"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "GetProductsRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/getProducts"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/searchAccount": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "SearchAccountRequestMessage",
        "description": "searchAccount() REST API is used to set attribute to the account.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "SearchAccountResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "accountID": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "isProfileComplete": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "cpCustomerID": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "20003": {
            "description": "Missing Required Parameter"
          },
          "20312": {
            "description": "No Accounts Found"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "SearchAccountRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/searchAccount"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sendEmail": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "SendEmailRequestMessage",
        "description": "sendEmail() REST API is used send email to customers registered email, with email & user token as parameters.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "SendEmailResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication Failed"
          },
          "eV1637": {
            "description": "Either SP Account ID or CP Customer ID/customer ID is required"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXXXXXXX  for  YYYYYY Where X==SP Account ID and Y ==BU Name"
          },
          "eV1342": {
            "description": "Invalid customer ID XXXXXXXXX  for  YYYYYY Where X==customer ID  and  Y ==BU Name"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given SP Account ID XXXXXXXX and Customer ID YYYYYYYYY Where Y==customer ID  and X ==SP Account ID"
          },
          "eV1453": {
            "description": "Message of type Adhoc is not defined"
          },
          "eV1454": {
            "description": "Email template can not be null"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "SendEmailRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/sendEmail"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/resetPassword": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "ResetPasswordRequestMessage",
        "description": "resetPassword() REST API is used to update the contact password of the customer.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ResetPasswordResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication Failed"
          },
          "eV2234": {
            "description": "Invalid Email or Session Token or User Token or Password"
          },
          "eV1228": {
            "description": "Password must be at least 4 characters"
          },
          "eV2124": {
            "description": "Invalid Session Token"
          },
          "eV1058": {
            "description": "Please enter a valid email"
          },
          "eV1070": {
            "description": "Password cannot be reset with existing password"
          },
          "eV2379": {
            "description": "Password cannot be reset with existing password"
          },
          "eV2043": {
            "description": "Not a Valid token"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ResetPasswordRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/resetPassword"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verifyAccount": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "VerifyAccountRequestMessage",
        "description": "verifyAccount() REST API is used to verify the account of the customer by passing the user token as parameter.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "VerifyAccountResponseMessage": {
                      "type": "object",
                      "properties": {
                        "responseCode": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication Failed"
          },
          "eV2298": {
            "description": "SP Account ID or CP Customer ID or Email can not be null"
          },
          "eV1313": {
            "description": "Email Id can not be null"
          },
          "eV1058": {
            "description": "Please enter a valid email"
          },
          "eV2043": {
            "description": "Not a Valid token"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXX  for BU [ where XXX = SP Account ID]"
          },
          "eV1342": {
            "description": "Invalid customer ID XXXXXXXXX  for  XXXXXX [where YYY =  customerID]"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given SP Account ID XXX and Customer ID YYY [ where XXX = SP Account ID]  [where YYY =  customerID]"
          },
          "eV1169": {
            "description": "Invalid Parameter(s)"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "VerifyAccountRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/verifyAccount"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validateToken": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "ValidateTokenRequestMessage",
        "description": "validateToken() REST API is used to validate the token of the customer.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ValidateTokenResponseMessage": {
                      "type": "object",
                      "properties": {
                        "responseCode": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "111111111": {
            "description": "Authentication Failed"
          },
          "eV1859": {
            "description": "Either Account ID or CP Customer ID or email is required"
          },
          "eV1829": {
            "description": "Token can not be null"
          },
          "eV2043": {
            "description": "Not a Valid token"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ValidateTokenRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/validateToken"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getPaymentMethods": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "GetPaymentMethodsRequestMessage",
        "description": "getPaymentMethods() REST API is used to fetch all the existing payment methods to the customer.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "GetPaymentMethodsResponseMessage": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "responseCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "PaymentMethods": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PaymentMethods"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "11111111": {
            "description": "Authentication Failed"
          },
          "eV1637": {
            "description": "Either SP Account ID or CP Customer ID is required"
          },
          "eV2124": {
            "description": "Invalid session token"
          },
          "eV1003": {
            "description": "Invalid SP Account ID XXX  for  BU [ where XXX = SP Account ID]"
          },
          "eV1342": {
            "description": "Invalid SP Account ID XXX  for  BU [ where XXX = SP Account ID]"
          },
          "eV1638": {
            "description": "Account doesn't exists with the given SP Account ID XXX and Customer ID YYY [ where XXX = SP Account ID]  [where YYY =  customerID]"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "GetPaymentMethodsRequestMessage": {
                    "type": "Object",
                    "$ref": "#/components/schemas/getPaymentMethods"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getPackages": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "hooq"
        ],
        "operationId": "GetPackagesRequestMessage",
        "description": "getPackages() REST API is used to get the packages list available to that DMA.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
[...]
